*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
.body{ 
    background-color: whitesmoke;
}
.Name{
    color:white ;
    font-size: 2rem ;
    padding: 0 5px;
}
.Name1{
    color: white;
}

.navbar{
    background-color:rgb(111, 110, 110) ;
}
.navbar1{
    background-color:rgb(111, 110, 110);
}

.container{
    max-width: 80vw;
}

.section1{
    height: 80vh;
}

.topleft{
    width: 50%;
    height:80vh;
}

.topright{
    width: 50%;
    height:80vh;
}
.image{
    border: 2px solid #cce3de;
    border-radius: 50px;
    color: black;
}

.iconimage{
    width: 133px; 
}

.section2{
    padding-left: 90px;
    padding-right: 90px;
}

.section2 h1{
    font-size: 2rem;
}

.box{
    margin:12px 12px ;
    min-width: 15vw;
    border : 2px solid black;
}

.overflow-hidden{
    overflow: hidden;
}